.emotionItem {
  border: 1px solid rgb(228, 220, 185);
  /* background-color: rgb(228, 220, 185); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  margin: -1.4rem 0;
}