.header {
  background-color: rgb(228, 220, 185);
  height: 5rem;
  width: 100%;
  padding: 0 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: rgb(87, 119, 82);
}

.header ul {
  list-style: none;
}

.header li {
  margin: 0 0.5rem;
}

.page {
  font-size: 17px;
}

.page:hover {
  border-bottom: 3px solid rgb(87, 119, 82);
  cursor: pointer;
}