* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(87, 119, 82);
}

button {
  background-color: rgb(228, 220, 185);
  border: 2px solid rgb(87, 119, 82);
  color: rgb(87, 119, 82);
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
}

button:hover,
button:active {
  background-color: rgb(87, 119, 82);
  color: rgb(228, 220, 185);
  border-color:rgb(228, 220, 185);
}

h2 {
  text-align: center;
}
